# Velcore Driver — Flutter

/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/build/
/.idea/
*.iml
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
*.apk
*.aab
